.body{
    margin: 0;    
}
.main{
    width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    background: black
}

.grid_container{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 25px;
    width: 70%; 
    height: 70%;
    background-color: white;
    padding: 15px;
}

.grid_element_first{
    background-color: #007F5F;
    width: 100%; 
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid_element_second{
    background-color: #2B9348;
    width: 100%; 
    height: 100%;
    grid-column-start: 
    grid-column-end: 
    grid-row-start: 
    grid-row-end: 
}
.grid_element_third{
    background-color: #55A630;
    width: 100%; 
    height: 100%;
    grid-column-start:
    grid-column-end:
    grid-row-start: 
    grid-row-end: 
   
}
.grid_element_fourth{
    background-color: #80B918;
    width: 100%; 
    height: 100%;
    grid-column-start: 
    grid-column-end: 
}
.grid_element_fifth{
    background-color: #AACC00;
    width: 100%; 
    height: 100%;
    grid-column-start:
    grid-column-end:
    grid-row-start: 
    grid-row-end: 
  }  
.grid_element_sixth{
    background-color: #BFD200;
    width: 100%; 
    height: 100%;
    grid-column-start:
    grid-column-end:
    grid-row-start: 
    grid-row-end: 
}
.grid_element_seventh{
    background-color: #D4D700;
    width: 100%; 
    height: 100%;
    grid-column-start:
    grid-column-end:
    grid-row-start: 
    grid-row-end: 
}
.grid_element_eighth{
    background-color: #DDDF00;
    width: 100%; 
    height: 100%;
    grid-column-start:
    grid-column-end:
    grid-row-start: 
    grid-row-end: 
}
.grid_element_nineth{
    background-color: #EEEF20;
    width: 100%; 
    height: 100%;
    grid-column-start:
    grid-column-end:
    grid-row-start: 
    grid-row-end: 
}
.grid_element_tenth{
    background-color: #FFFF3F;
    width: 100%; 
    height: 100%;
    grid-column-start:
    grid-column-end:
    grid-row-start: 
    grid-row-end: 
}
.grid_element_eleventh{
    background-color: #007F5F;
    width: 100%; 
    height: 100%;
    grid-column-start:
    grid-column-end:
    grid-row-start: 
    grid-row-end: 
}